@font-face {
  font-family: "interactyv-icons";
  src: url("https://www.livebecho.com/fonts/interactyv-icons.eot?xsi602");
  src: url("https://www.livebecho.com/fonts/interactyv-icons.eot?xsi602#iefix")
      format("embedded-opentype"),
    url("https://www.livebecho.com/fonts/interactyv-icons.ttf?xsi602")
      format("truetype"),
    url("https://www.livebecho.com/fonts/interactyv-icons.woff?xsi602")
      format("woff"),
    url("https://www.livebecho.com/fonts/interactyv-icons.svg?xsi602#interactyv-icons")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

#livebechoFeedWidget i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "interactyv-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.interactyv-likeFilled-6:before {
  content: "\e900";
  color: #ed4756;
}
.interactyv-likeFilled-1:before {
  content: "\e901";
  color: #ed4756;
}
.interactyv-blackShare-1:before {
  content: "\e904";
}
.interactyv-blackLike-1:before {
  content: "\e905";
}
.interactyv-blackComment-1:before {
  content: "\e906";
}
.interactyv-likeFilled-2:before {
  content: "\e908";
  color: #ed4756;
}
.interactyv-blackShare-2:before {
  content: "\e90b";
}
.interactyv-blackLike-2:before {
  content: "\e90c";
}
.interactyv-blackComment-2:before {
  content: "\e90d";
}
.interactyv-likeFilled-3:before {
  content: "\e90f";
  color: #ed4756;
}
.interactyv-blackShare-3:before {
  content: "\e912";
}
.interactyv-blackLike-3:before {
  content: "\e913";
}
.interactyv-blackComment-3:before {
  content: "\e914";
}
.interactyv-likeFilled-4:before {
  content: "\e916";
  color: #ed4756;
}
.interactyv-blackShare-4:before {
  content: "\e919";
}
.interactyv-blackLike-4:before {
  content: "\e91a";
}
.interactyv-blackComment-4:before {
  content: "\e91b";
}
.interactyv-likeFilled-5:before {
  content: "\e91d";
  color: #ed4756;
}
.interactyv-blackShare-5:before {
  content: "\e920";
}
.interactyv-blackLike-5:before {
  content: "\e921";
}
.interactyv-blackComment-5:before {
  content: "\e922";
}
.interactyv-blackShare-6:before {
  content: "\e927";
}
.interactyv-blackLike-6:before {
  content: "\e928";
}
.interactyv-blackComment-6:before {
  content: "\e929";
}
