.animateScrollSection {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9999999;
  bottom: 0;
  padding: 16px 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.42) 34.5%,
    rgba(0, 0, 0, 0.54) 63.54%,
    rgba(0, 0, 0, 0.6) 100%
  );
  color: white;
  img {
    max-width: 100%;
    max-height: 100%;
  }
  .arrow {
    -moz-animation: bounceDown 2s infinite;
    -webkit-animation: bounceDown 2s infinite;
    animation: bounceDown 2s infinite;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 40px;
  }
  @media (max-width: 767px) {
    padding: 16px;
    width: 100% !important;
  }
}

@keyframes bounceDown {
  0%,
  20%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
