$primary-color: #571c5c;
$secondary-color: #350d36;
$text-color: #cfc3cf;
$heading-color: #311135;
$dot-color: #f21905;
$background-color: hsl(30, 44%, 94%);
$new-design-background: #e5e5e5;
$new-button-background: #9b416b;
$new-heading-color: #672288;
$more-color: #8e8e8e;
:export {
  design-background: $new-design-background;
  primary_color: $primary-color;
  secondary_color: $secondary-color;
  text-color: $text-color;
  heading-color: $heading-color;
  dot-color: $dot-color;
  background-color: $background-color;
  new-button-background: $new-button-background;
  new-heading-color: $new-heading-color;
  more-color: $more-color;
}
