.noPostsSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 56px);
  margin: auto;
  img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 16px;
  }
  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000000;
  }
}
