.mainSection {
  top: 8px;
  justify-content: flex-end;
  left: 8px;
  right: 8px;
  display: flex;
  z-index: 1401;
  position: fixed;
  align-items: center;
  opacity: 1;
  transform: none;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 16px;
}

.notifDiv {
  color: #fff;
  font-weight: 500;
  display: flex;
  padding: 6px 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.01071em;
}
.successDiv {
  background-color: #4caf50;
}
.infoDiv {
  background-color: #2196f3;
}
.errorDiv {
  background-color: #f44336;
}
.notifIcon {
  display: flex;
  opacity: 0.9;
  padding: 7px 0;
  font-size: 22px;
  margin-right: 12px;
  svg {
    fill: currentColor;
    width: 22px;
    height: 22px;
    display: inline-block;
    font-size: 16px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
  }
}
.notifMessage {
  padding: 8px 0;
}

.notifAction {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: -8px;
  padding-left: 16px;
}

.closeBtn {
  padding: 3px;
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  span {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
    svg {
      font-size: 12px;
      color: white;
      fill: currentColor;
      width: 20px;
      height: 20px;
      display: inline-block;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;
    }
  }
}

@media (min-width: 600px) {
  .mainSection {
    top: 24px;
    left: auto;
    right: 24px;
  }
}
