.videoContainer {
  width: 100%;
  height: 100%;
  .videoSection {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background: #000;
    video {
      height: 100%;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
  }
}

.flag {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 2px;
  width: 2px;
}
