.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  justify-content: center;
  .loading {
    width: 70px !important;
    height: 70px !important;
    color: #fdd835 !important;
  }
}
.filterLoader {
  position: absolute;
  left: 0;
  right: 0;
}

.mainLoaderContainer {
  display: inline-block;
  width: 70px !important;
  height: 70px !important;
  color: #fdd835 !important;
  animation: MuiCircularProgress-keyframes-circular-rotate 1.4s linear infinite;
}

.loaderSection {
  display: block;
  circle {
    stroke: currentColor;
    animation: MuiCircularProgress-keyframes-circular-dash 1.4s ease-in-out
      infinite;
    stroke-dasharray: 80px, 200px;
    stroke-dashoffset: 0px;
  }
}

@keyframes MuiCircularProgress-keyframes-circular-rotate {
  0% {
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes MuiCircularProgress-keyframes-circular-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }
  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
