.postContainer {
  height: 100%;
  width: 100%;
  :global(.alice-carousel) {
    height: 100%;
    > div:first-child {
      height: 100%;
      width: 100%;
    }
    :global(.alice-carousel__wrapper) {
      height: 100%;
      width: 100%;
    }
  }
  :global(.carousel .slider-wrapper.axis-horizontal .slider) {
    flex-direction: row !important;
  }

  .carouselArrow {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 25%;
    padding: 0;
    bottom: 66px;
    height: 100%;
    margin: auto;
  }

  .prevBtn {
    left: 0;
    text-align: left;
  }
  .nextBtn {
    right: 0;
    text-align: right;
  }
  .postSection {
    height: 100%;
    width: 100%;
  }
  .videoSection {
    height: 100%;
    position: relative;
    width: 100%;
  }
  .imageSection {
    height: 100%;
    position: relative;
    width: 100%;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 997;
  .overlayIconSection {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: open 0.5s forwards;
    .iconSection {
      height: 80px;
      width: 80px;
      background-color: #00000040;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      img {
        height: 32px;
        width: 32px;
      }
    }
  }
}

.icons {
  position: absolute;
  right: 0;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  bottom: 0;
  justify-content: flex-end;
  .iconsButton {
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    padding: 0;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
    text-align: center;
    cursor: pointer;
    .icon {
      color: white;
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
      width: 24px;
      margin-bottom: 4px;
      z-index: 3;
    }
    .count {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
      font-weight: 600;
      font-style: normal;
      font-size: 12px;
      line-height: 12px;
      align-items: center;
      color: white;
      z-index: 3;
    }
  }
  .volumeIconButton {
    @extend .iconsButton;
    @media (max-width: 767px) {
      &.hideOnMobile {
        display: none;
      }
    }
  }
}

.detailsContainer {
  position: absolute;
  padding-top: 16px;
  top: 0;

  left: 0;
  z-index: 998;
  right: 0;
  .profileSection {
    display: flex;
    align-items: center;
    .imageContainer {
      width: 32px;
      height: 32px;
      margin-left: 12px;
      margin-right: 16px;
      cursor: pointer;
    }
    .profileLogo {
      max-height: 100%;
      max-width: 100%;
      border-radius: 100%;
    }
    .profileName {
      color: white;
      font-weight: 700;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
      cursor: pointer;
    }
  }
  .storiesDescription {
    margin-top: 4px;
    display: flex;
    margin-right: 68px;
    .description {
      margin-top: 4px;
      margin-left: 12px;
      margin-right: 16px;
      word-break: break-word;
      white-space: break-spaces;
      text-align: left;
      color: white;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1px;
    }
    .fullDescription {
      margin-right: 52px;
    }
    .readMore {
      font-weight: 700;
      cursor: pointer;
      color: #8e8e8e;
      font-size: 14px;
    }
  }
}

@keyframes open {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.95);
  }
  95% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.noPostsSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100%);
  margin: auto;
  background: black;

  img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 16px;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.25px;
    color: white;
  }
}

.openFilterBtn {
  position: absolute;
  top: 24px;
  right: 20px;
  height: 40px;
  width: 40px;
  object-fit: contain;
  z-index: 10000;
  cursor: pointer;
  opacity: 0;
  animation: appear 0.1s forwards ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    height: 24px !important;
    width: 24px !important;
    margin-bottom: 4px;
  }
}

.closeFilterBtn {
  @extend .openFilterBtn;
  opacity: 1;
  animation: close 0.1s forwards ease-in-out;
  transform: scale(1);
}

@keyframes close {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  70% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  95% {
    transform: scale(0.3);
    opacity: 0.3;
  }
  99% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.itemIndicatorContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 7px;
  z-index: 1500;

  .baseProgressBar {
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin: 0 4px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
  }
  .noBaseProgressBar {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 4px;
    background: transparent;
    background: rgba(255, 255, 255, 0.3);
  }

  .itemIndicatorInactive {
    display: flex;
    height: 2px;
    flex: 1;
    border-radius: 2px;
  }

  .itemIndicatorActive {
    @extend .itemIndicatorInactive;
    transform-origin: left center;
  }
}

@keyframes appear {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 0.8;
  }
  95% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.reduceOpacity {
  opacity: 0.5 !important;
}

.filterText {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  color: white;
}

.bottomBanner {
  margin-top: 8px;
  pointer-events: all !important;
  margin-bottom: -16px;
}

.showContent {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.hideContent {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.rippleIcons {
  position: relative;
}

.coloredOverlay {
  background: rgba(0, 0, 0, 0.5);
}
