.storyThumbnailContainer {
  width: fit-content;
  margin: auto;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: content-box;
  position: relative;
  gap: 12px;

  @media screen and (max-width: 600px) {
    justify-content: center;
  }
}

.eachStoryItemContainer {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 80px;
  max-width: 80px;
  max-height: 80px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  .thumbContainer {
    max-height: 68px;
    max-width: 68px;
    overflow: hidden;
    border-radius: 50%;
    img {
      -webkit-user-drag: none;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}
.borderCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
