.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .scrollableDiv {
    height: 100%;
    margin: auto;
    background-color: #ffffff;
    overflow: auto;
    @media (max-width: 767px) {
      width: 100% !important;
    }
  }
}

.profileSection {
  transition: display 5s ease;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 24px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 22px;
  .profileImage {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .profileHeading {
    margin: 12px 0px;
    h1 {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
    }
  }

  .profileDescription {
    margin: 16px 32px 0 32px;
    text-align: center;
    span {
      word-break: break-word;
      white-space: break-spaces;
      color: #4a4a4a;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }

    .readMore {
      font-weight: 700;
      cursor: pointer;
      color: #8e8e8e;
      font-size: 14px;
    }
  }
  .profileMeta {
    display: flex;
    width: 40%;
    justify-content: center;
    .metaData {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .title {
        font-size: 14px;
        color: #6e777e;
        line-height: 17px;
      }
    }
  }
}

.feedSection {
  height: 100%;
  position: relative;
}

.overflowAuto {
  overflow: auto;
}
