.feedSection {
  width: 100%;
  height: 100%;
  overflow: auto;
  * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .container {
    width: 100%;
    height: 100%;
    :global(.carousel-root) {
      height: 100%;
      :global(.carousel) {
        height: 100%;
        :global(.slider-wrapper) {
          height: 100% !important;
          :global(.slider) {
            height: 100% !important;
            :global(.slide) {
              height: 100% !important;
            }
          }
        }
      }
    }
    .carouselContainer {
      height: 100%;
      margin: auto;
      overflow: hidden;
      position: relative;
      background-color: rgba(0, 0, 0, 0.75);
      @media (max-width: 767px) {
        width: 100% !important;
      }
      .stories {
        text-align: center;
        margin: auto;
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .storyThumbnailSection {
      height: 80px;
      width: 50%;
      margin: auto;
      overflow: auto;
      padding: 12px 0;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
      position: relative;
      scroll-behavior: smooth;
      transition: all 0.4s ease;

      &::-webkit-scrollbar {
        display: none;
      }
      .swipingArrow {
        position: fixed;
        top: 40px;
        cursor: pointer;
      }

      @media screen and (max-width: 600px) {
        width: 95%;

        .swipingArrow {
          display: none;
        }
      }
    }
  }
}

.overlayToPreventSwiping {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
.reduceOpacity {
  opacity: 0.5;
}
.rippleIcons {
  position: relative;
}

.bottomSectionContainer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  z-index: 998;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .bottomBanner {
    width: 100%;
    margin-bottom: 1px;
  }
}
